<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- Added xacro function for modularity -->
    
    <material name="red">
        <color rgba="1 0 0 1" />
    </material>
    <material name="blue">
        <color rgba="0 0 1 1" />
    </material>
    <material name="grey">
        <color rgba="0.5 0.5 0.5 1" />
    </material>

    <xacro:macro name="box_inertia" params="m x y z o_xyz o_rpy">
        <inertial>
            <mass value="${m}" />
            <origin xyz="${o_xyz}" rpy="${o_rpy}" />
            <inertia 
                ixx="${(1/12.0)*m*(y*y + z*z)}" 
                ixy="0.0" 
                ixz="0.0" 
                iyy="${(1/12.0)*m*(x*x + z*z)}" 
                iyz="0.0" 
                izz="${(1/12.0)*m*(x*x + y*y)}" 
            />
        </inertial>
    </xacro:macro>

    <xacro:macro name="cylinder_inertia" params="m r h o_xyz o_rpy">
        <inertial>
            <mass value="${m}" />
            <origin xyz="${o_xyz}" rpy="${o_rpy}" />
            <inertia 
                ixx="${(1/12.0)*m*(3*r*r + h*h)}" 
                ixy="0.0" 
                ixz="0.0" 
                iyy="${(1/12.0)*m*(3*r*r + h*h)}" 
                iyz="0.0" 
                izz="${(1/2.0)*m*r*r}" 
            />
        </inertial>
    </xacro:macro>
    
    <xacro:macro name="sphere_inertia" params="m r o_xyz o_rpy">
        <inertial>
            <mass value="${m}" />
            <origin xyz="${o_xyz}" rpy="${o_rpy}" />
            <inertia 
                ixx="${(2/5.0)*m*r*r}" 
                ixy="0.0" 
                ixz="0.0" 
                iyy="${(2/5.0)*m*r*r}" 
                iyz="0.0" 
                izz="${(2/5.0)*m*r*r}" 
            />
        </inertial>
    </xacro:macro>

</robot>   