<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Gazebo Harmonic Diff Drive Plugin -->
  <gazebo>
    <plugin
      filename="gz-sim-diff-drive-system"
      name="gz::sim::systems::DiffDrive">

      <!-- Joints -->
      <left_joint>base_to_left_wheel</left_joint>
      <right_joint>base_to_right_wheel</right_joint>

      <!-- Kinematics -->
      <wheel_separation>0.45</wheel_separation>
      <wheel_radius>0.1</wheel_radius>

      <!-- Topics -->
      <topic>cmd_vel</topic>
      <odom_topic>odom</odom_topic>
      <frame_id>base_footprint_link</frame_id>

    </plugin>
  </gazebo>

  <!-- Gazebo materials -->

  <gazebo reference="base_link">
    <material>Gazebo/Blue</material>
  </gazebo>

  <gazebo reference="right_wheel_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="left_wheel_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="castor_wheel_link">
    <material>Gazebo/Grey</material>
  </gazebo>

</robot>
