<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- ROS 2 Control configuration for mobile base -->
  <ros2_control name="MobileBaseHardwareInterface" type="system">
    <hardware>
      <plugin>mock_component/GenericSystem</plugin>
    <param name="calculate_dynamics">true</param>
    </hardware>

    <joint name="base_to_left_wheel">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
    <joint name="base_to_right_wheel">
      <command_interface name="velocity"/>
      <state_interface name="velocity"/>
      <state_interface name="position"/>
    </joint>
  </ros2_control>
</robot>
