<?xml version='1.0'?>
<robot name='my_robot' xmlns:xacro='http://ros.org'>
  <xacro:arg name='use_ros2_control' default='false'/>
  <xacro:include filename='common_properties.xacro'/>
  <xacro:include filename='mobile_base.xacro'/>
  
  <!-- Materials/friction apply regardless of control mode -->
  <xacro:include filename='mobile_base_gazebo.xacro'/>

  <!-- FIX: Added $(arg ...) inside the curly braces to evaluate the argument -->
  <xacro:if value='$(arg use_ros2_control)'>
    <xacro:include filename='mobile_base.ros2_control.xacro'/>
  </xacro:if>

  <xacro:include filename='camera.xacro'/>
  <xacro:include filename='lidar.xacro'/>
  <xacro:include filename='imu.xacro'/>
</robot>
